// COLOR
$brown: #a99561;
$brown-dark: #683c26;
$yellow: #bdbd31;
$dark-blue: #111015;
$black: #202020;
$white: #f0f0f0;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&display=swap');
$font-bebasneue: 'Bebas Neue', cursive;
$font-opensans: 'Open Sans', sans-serif;

// box-shadow
$shadow-light: 0 1.5rem 2rem rgba(0,0,0,.3);